@import 'tailwindcss';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
